/* *************************/
/* GENERIC */
/* *************************/




/* *************************/
/* UTILITIES */
/* *************************/




/* *************************/
/* Main */
/* *************************/
#carousel {
    margin: 40px auto;
    width: 700px;
    max-height: 300px;
    position: relative;
}

.galleria {
    max-height: 300px;

}



/* #carousel .galleria .active {
    display: block;
} */


.item.active {
    display: block;
    height: 300px;

    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.item {
    display: none;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bi {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#prima {
    right: 102%;
}

#dopo {
    left: 102%;
}

.bi:hover {

    color: grey
}