/* *************************/
/* GENERIC */
/* *************************/




/* *************************/
/* UTILITIES */
/* *************************/




/* *************************/
/* Main */
/* *************************/
#carousel {
    margin: 40px auto;
    width: 1000px;
    height: 400px;
    position: relative;
}

#carousel .galleria {
    height: 100%;

}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;

}

/* #carousel .galleria .active {
    display: block;
} */


.item.active {
    display: block;
}

.item {
    display: none;
}

.bi {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

#prima {
    right: 102%;
}

#dopo {
    left: 102%;
}

.bi:hover {

    color: grey
}