/* *************************/
/* Main */
/* *************************/
#carousel {
    margin: 40px auto;
    width: 700px;
    max-height: 300px;
    position: relative;
}

.galleria {
    max-height: 300px;

}

.item.active {
    display: block;
    height: 300px;

    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.item {
    display: none;
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.bi {
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#prima {
    right: 102%;
}

#dopo {
    left: 102%;
}

.bi:hover {

    color: grey
}


/* THUMB */

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    width: calc(100% / 4);
    height: 200px;
    background-color: aqua;

    flex-wrap: nowrap;
    border: 1px solid black;
}